:root {
    --MediumOrchid: #c252e1;
    --Lavender: #e0d9f6;
    --RoyalBlue: #03d8f3;
    --LightSky: #6ECBF5;
    --bgColor: #191919;
    --whiteish: #F4F4F4;
    --CYellow: #FCEE0C;
}
body {
    background-color: var(--bgColor);
}
.pCustom {
    text-align: center;
    font-size: 1.4rem;
    color: var(--Lavender);
    text-shadow: 0 0 8px #ff00de;
}
h1 {
    color: var(--Lavender);
    animation: neonPink 1.5s ease-in-out infinite alternate;
}
h3 {
    text-shadow: 0 0 12px var(--Lavender);
    color: var(--Lavender);
}
a {
    color: var(--CYellow);
    text-shadow: 0 0 6px var(--CYellow);
    transition: 1s;
}
    a:hover {
        text-shadow: 0 0 12px var(--CYellow);
        color: var(--CYellow);
    }
p{
    color: var(--Lavender);
    text-shadow: 0 0 8px #ff00de;
}
.h100{
    height:100vh;
}

.resultLink{
    width:fit-content; 
}
.resultContainer{

}
.returnToMainLink {
    color: var(--CYellow);
    text-shadow: 0 0 6px var(--CYellow);
    transition: 1s;
}
.returnToMainLink:hover {
    text-shadow: 0 0 12px var(--CYellow);
    color: var(--CYellow);
}

.cardContainer {
    background-color: var(--bgColor) !important;
    width: 30rem;
}

.btnBuscar {
    color: var(--Lavender);
    border: 2px solid #ff52e9;
    border-radius: 50px;
    cursor: pointer;
    filter: drop-shadow(0 0 15px #ff52e9) drop-shadow(0 0 50px #ff52e9);
    transition: .5s;
}
    .btnBuscar:hover {
        color: var(--Lavender);
        background-color: #ff52e9;
        filter: drop-shadow(0 0 20px #ff52e9);
        border: 2px solid #ff52e9;
    }
.btnBuscarInactive {
    color: var(--Lavender);
    border: 2px solid #ff52e9;
    border-radius: 50px;
    cursor: pointer;
    filter: drop-shadow(0 0 15px #ff52e9) drop-shadow(0 0 50px #ff52e9);
    transition: .5s;
}

    .btnBuscarInactive:hover {
        color: var(--Lavender);
        background-color: #ff52e9;
        filter: drop-shadow(0 0 20px #ff52e9);
        border: 2px solid #ff52e9;
    }
.btnBuscarActive {
    color: #000000;
    border: 2px solid var(--CYellow);
    border-radius: 50px;
    cursor: pointer;
    background-color: var(--CYellow);
    filter: drop-shadow(0 0 20px var(--CYellow));
    transition: .5s;
}

    .btnBuscarActive:hover {
        color: #000000;
        background-color: var(--CYellow);
        filter: drop-shadow(0 0 15px var(--CYellow)) drop-shadow(0 0 50px var(--CYellow));
        border: 2px solid var(--CYellow);
    }


.searchBar{

}

.textBox {
    background-color: var(--bgColor);
    border-radius: 50px;
}

.txt {
    background-color: var(--bgColor);
    border: none;
    border-radius: 50px;
    color: var(--whiteish);
    text-shadow: 0 0 2px #fff;
    box-shadow: 0 0 10px var(--MediumOrchid);
}

    .txt:active {
        background-color: var(--bgColor);
        border: none;
        box-shadow: 0 0 20px var(--CYellow);
        color: var(--whiteish);
    }

    .txt:focus {
        background-color: var(--bgColor);
        border: none;
        box-shadow: 0 0 20px var(--CYellow);
        color: var(--whiteish);
    }

.main {
    margin-top: 4rem;
}
@keyframes neonPink {
    from {
        text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px #ff00de, 0 0 70px #ff00de, 0 0 80px #ff00de, 0 0 100px #ff00de, 0 0 150px #ff00de;
    }

    to {
        text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 20px #ff00de, 0 0 35px #ff00de, 0 0 40px #ff00de, 0 0 50px #ff00de, 0 0 75px #ff00de;
    }
}